* {
    font-family: "JetBrainsMono Nerd Font", "Noto Color Emoji", sans-serif;
    font-size: 14px;
    font-weight: bold;
    min-height: 0;
}

window#waybar {
    background-color: transparent;
    color: #ebdbb2;
}

tooltip {
    background: transparent;
    border: none;
    box-shadow: none;
}

tooltip label {
    background: #282828;
    border: 1px solid #fe8019;
    border-radius: 6px;
    padding: 12px;
    font-size: 18px;
    margin: 5px;
    color: #ebdbb2;
}


window#waybar.hidden {
    opacity: 0.2;
    transition: opacity 0.3s ease-in-out;
}

.modules-left,
.modules-center,
.modules-right {
    background-color: #282828;
    border: 1px solid #fe8019;
    border-radius: 6px;
    padding: 2px 10px;
    transition: all 0.3s ease;
}

.modules-left {
    padding-left: 10px;
}

.modules-right {
    padding-right: 10px;
}

#workspaces button {
    padding: 0px 10px;
    background-color: transparent;
    color: #928374;
    border-radius: 6px;
    transition: all 0.3s ease;
}

#workspaces button:hover {
    color: #914b11;
    background: rgba(254, 128, 25, 0.2);
}

#workspaces button.active {
    color: #fe8019;
}

#workspaces button.urgent {
    color: #fb4934;
    animation: blink 0.5s linear infinite alternate;
}

#window {
    color: #bdae93;
    margin-left: 10px;
    font-weight: normal;
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#network,
#pulseaudio,
#tray,
#custom-weather,
#custom-notification {
    padding: 0 8px;
    margin: 0 2px;
    border-radius: 6px;
    transition: all 0.3s ease;
}

#clock:hover,
#battery:hover,
#cpu:hover,
#memory:hover,
#temperature:hover,
#network:hover,
#pulseaudio:hover,
#custom-weather:hover {
    background: rgba(143, 89, 45, 0.15);
}

#clock {
    color: #f9b883;
}

#custom-weather {
    color: #83a598;
}

#custom-notification {
    color: #fe8019;
}

#pulseaudio {
    color: #83a598;
}

#pulseaudio.muted {
    color: #928374;
    text-decoration: line-through;
}

#network {
    color: #8ec07c;
    min-width: 200px;
    padding-left: 10px;
    padding-right: 10px;
}

#network.disconnected {
    color: #fb4934;
}

#cpu {
    color: #d3869b;
}

#memory {
    color: #fabd2f;
}

#temperature {
    color: #b16286;
}

#temperature.critical {
    color: #fb4934;
    animation: blink 1s linear infinite;
}

#battery {
    color: #b8bb26;
}

#battery.charging,
#battery.plugged {
    color: #8ec07c;
}

#battery.warning:not(.charging) {
    color: #fe8019;
}

#battery.critical:not(.charging) {
    color: #fb4934;
    animation: blink 0.5s linear infinite alternate;
}

#tray>.passive {
    -gtk-icon-effect: dim;
}

#tray>.needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #fb4934;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}