@import "mocha.css";

* {
    font-family: "JetBrainsMono Nerd Font", "Noto Color Emoji", sans-serif;
    font-size: 14px;
    font-weight: bold;
    min-height: 0;
}

window#waybar {
    background-color: transparent;
    color: @text;
}

tooltip {
    background: transparent;
    border: none;
    box-shadow: none;
}

tooltip label {
    background: @base;
    border: 1px solid @mauve;
    border-radius: 6px;
    padding: 12px;
    font-size: 18px;
    margin: 5px;
    color: @text;
}

window#waybar.hidden {
    opacity: 0.2;
    transition: opacity 0.3s ease-in-out;
}

.modules-left,
.modules-center,
.modules-right {
    background-color: @base;
    border: 1px solid @mauve;
    border-radius: 6px;
    padding: 2px 10px;
    transition: all 0.3s ease;
}

.modules-left {
    padding-left: 10px;
}

.modules-right {
    padding-right: 10px;
}

#workspaces button {
    padding: 0px 10px;
    background-color: transparent;
    color: @overlay0;
    border-radius: 6px;
    transition: all 0.3s ease;
}

#workspaces button:hover {
    color: @mauve;
    background: rgba(203, 166, 247, 0.2);
}

#workspaces button.active {
    color: @mauve;
}

#workspaces button.urgent {
    color: @red;
    animation: blink 0.5s linear infinite alternate;
}

#window {
    color: @subtext0;
    margin-left: 10px;
    font-weight: normal;
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#network,
#pulseaudio,
#tray,
#custom-weather,
#custom-notification {
    padding: 0 8px;
    margin: 0 2px;
    border-radius: 6px;
    transition: all 0.3s ease;
}

#clock:hover,
#battery:hover,
#cpu:hover,
#memory:hover,
#temperature:hover,
#network:hover,
#pulseaudio:hover,
#custom-weather:hover {
    background: rgba(203, 166, 247, 0.15);
}

#clock {
    color: @peach;
}

#custom-weather {
    color: @sky;
}

#custom-notification {
    color: @mauve;
}

#pulseaudio {
    color: @sapphire;
}

#pulseaudio.muted {
    color: @overlay0;
    text-decoration: line-through;
}

#network {
    color: @green;
    min-width: 200px;
    padding-left: 10px;
    padding-right: 10px;
}

#network.disconnected {
    color: @red;
}

#cpu {
    color: @pink;
}

#memory {
    color: @yellow;
}

#temperature {
    color: @maroon;
}

#temperature.critical {
    color: @red;
    animation: blink 1s linear infinite;
}

#battery {
    color: @teal;
}

#battery.charging,
#battery.plugged {
    color: @green;
}

#battery.warning:not(.charging) {
    color: @peach;
}

#battery.critical:not(.charging) {
    color: @red;
    animation: blink 0.5s linear infinite alternate;
}

#tray>.passive {
    -gtk-icon-effect: dim;
}

#tray>.needs-attention {
    -gtk-icon-effect: highlight;
    background-color: @red;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}